[Unit]
Description=ABLS Agent Modbus (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-modbus --agent_tech_id %i
DynamicUser=yes
SupplementaryGroups=abls
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
